<footer class="page-footer font-small bg-secondary pt-4">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" class="icofacebook">
                    <i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" class="icoinstagram">
                    <i class="fab fa-instagram"></i></a>

                </li>
                <li>
                    <a href="https://www.linkedin.com/in/patrik-augusto-liro-066345183/" target="_blank" class="icolinkedink">
                    <i class="fab fa-linkedin"></i></a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright bg-dark text-center py-3">
    <span>&copy; 2020 Copyright</span>
</div>
</footer>
